@model DistanceLearningGraduation.Models.Test

@{
	ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Test", FormMethod.Post))
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Question</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Question.QuestionText, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Question.QuestionText, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Question.QuestionText, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Question.CourseID, "CourseID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CourseID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Question.CourseID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Question.LessonID, "LessonID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("LessonID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Question.LessonID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Answers[0].AnswerText, htmlAttributes: new { @class = "control-label col-md-2" })*@


        <div class="col-md-10">
            <input type="radio" name="answer" />
            @Html.EditorFor(model => model.Answers[0].AnswerText, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Answers[0].AnswerText, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-10">
            <input type="radio" name="answer" />
            @Html.EditorFor(model => model.Answers[1].AnswerText, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Answers[1].AnswerText, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-10">
            <input type="radio" name="answer" />
            @Html.EditorFor(model => model.Answers[2].AnswerText, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Answers[2].AnswerText, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-10">
            <input type="radio" name="answer" />
            @Html.EditorFor(model => model.Answers[3].AnswerText, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Answers[3].AnswerText, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

