
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Ուղարկել ընդունելիության հայտ", "Create", "Statements")

<ul>
    @foreach (var item in ViewBag.LessonList)
    {
        @Html.ActionLink((string) @item.Name, "GetLecturesByLessonId", "Learn",new { id = item.LessonID} );
      //  <li>@item.Name</li>
    }
</ul>
<ul>

    @foreach (var item in ViewBag.LectureList)
    {
        <li>@item.Name</li>
    }

</ul>