
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Ուղարկել ընդունելիության հայտ", "Create", "Statements")

<ul>
    @if (ViewBag.LessonList != null)
    {
        foreach (var item in ViewBag.LessonList)
        {
            @Html.ActionLink((string)@item.Name, "Index", new { id = item.LessonID });
        }
    }
</ul>

@if(ViewBag.LectureList != null)
{
    foreach (var item in ViewBag.LectureList)
    {
        <div>
            <p> @item.Name</p>
            <div>@item.Links</div>
            @Html.ActionLink("Read", "Read", new { path = item.Path },  new{ target = "_new"})
        </div>
       
    }
}
