@model IEnumerable<DistanceLearningGraduation.Models.Tribune>

@{
    ViewBag.Title = "Index";
}

<h2>Ամբիոններ</h2>
<link rel="stylesheet" type="text/css" href="~/Content/adminStyle.css" />
<button class="btn btn-success btn-m-top">
    @Html.ActionLink("Ավելացնել նորը", "Create","Tribunes", htmlAttributes: new { @class = "linkStyle" })
</button>
<table class="table table-hover tbl-margin">
    <thead class="thead-style">
        <tr>
            <th>
                Ֆակուլտետ
            </th>
            <th>
                Ամբիոն
            </th>
            <th></th>
        </tr>
</thead>
        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
                @Html.ActionLink("Փոփոխել", "Edit", new { id = item.TribuneID })
                |
                <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-list" data-placement="top" data-toggle="tooltip"></span></button>
                @Html.ActionLink("Մանրամասն", "Details", new { id = item.TribuneID })
                |
                <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                @Html.ActionLink("Ջնջել", "Delete", new { id = item.TribuneID })
            </td>
        </tr>
}

</table>
