@model IEnumerable<DistanceLearningGraduation.Models.Tribune>

@{
    ViewBag.Title = "Index";
}

<h2>Ամբիոններ</h2>

<p>
    @Html.ActionLink("Ավելացնել նորը", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Faculty.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Faculty.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Փոփոխել", "Edit", new { id=item.TribuneID }) |
            @Html.ActionLink("Մանրամասն", "Details", new { id=item.TribuneID }) |
            @Html.ActionLink("Ջնջել", "Delete", new { id=item.TribuneID })
        </td>
    </tr>
}

</table>
