@model IEnumerable<DistanceLearningGraduation.Models.Course>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/adminStyle.css" />

<h2>Բաժիններ</h2>
<button class="btn btn-success btn-m-top">
    @Html.ActionLink("Անելացնել նորը", "Create", "Courses", htmlAttributes: new { @class = "linkStyle" })
</button>
<table class="table table-hover tbl-margin">
    <thead class="thead-style">
        <tr>
            <th>
                Ամբիոն
            </th>
            <th>
                Բաժին
            </th>
            <th></th>
        </tr>
</thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tribune.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
                    @Html.ActionLink("Փոփոխել", "Edit", new { id = item.CourseID }) |
                    <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-list" data-placement="top" data-toggle="tooltip"></span></button>
                    @Html.ActionLink("Մանրամասն", "Details", new { id = item.CourseID }) |
                    <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                    @Html.ActionLink("Ջնջել", "Delete", new { id = item.CourseID })
                </td>
            </tr>
        }

</table>

<link rel="stylesheet" type="text/css" href="~/Content/adminStyle.css" />